{
  "extends": ["defaults", "prettier"],
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "jest/globals": true,
    "mocha": true
  },
  "rules": {
    "no-console": "off",
    "prettier/prettier": ["error", {"trailingComma": "es5" }],
  },
  "plugins": [
    "jest",
    "prettier",
  ]
}
